[2015-06-18 20:11] christian-posta opened #2 "PR #1 for jenkins-docker"
hey, so i've got a PR to update the jenkins-docker image to add a conditional-buildstep plugin (i may have commit rights to this, but wanted to make the PR explicit to chat about it really quick... when i try to run docker build for this image, i get issues with rpm repos, etc. how do we generate a new image of this that can get into docker hub?

[2015-06-18 20:19] jimmidyson commented on #2
This should be an automated build on docker hub but it seems to have the same problem as you do with the yum repos. I'll take a look tomorrow if that's alright - unless this is crazy urgent for you?

[2015-06-18 22:20] christian-posta commented on #2
@jimmidyson nah, not crazy urgent at the moment, so thanks. can work around it; trying to tackle bigger fish. even if this does get in there, the jenkins job dsl seems to have some issue with creating conditional post-build steps: https://groups.google.com/forum/#!topic/job-dsl-plugin/iGsDyivxRdE

[2015-06-18 23:38] christian-posta commented on #2
@jimmidyson oddly enough, this started to work on my box.. crossing fingers.. have another PR and hopefully docker hub can run the build. is there a place that shows the status of those builds on docker hub?

[2015-06-19 05:38] jstrachan commented on #2
@christian-posta you can see the status of builds and logs here: https://registry.hub.docker.com/u/fabric8/jenkins/builds_history/187237/

grab me on IRC for the login/pwd. Looks like its currently failing installing openjdk 1.7.0 :(. Lemme trigger another build just in case

[2015-06-19 05:53] christian-posta commented on #2
@jstrachan Did it go again? Looks like it passed?

byxt7fpyekmrk7djabygrgy	Finished	2015-06-18 22:38:53	2015-06-18 22:48:14

There was some wonkiness with installing JDK on my side too.. but it did finally succeed (w/out any changes to Dockerfile).

[2015-06-19 05:57] jstrachan commented on #2
worked this time!

[2015-06-19 05:58] jimmidyson commented on #2
Looked like a temp problem with the centos yum repos. Not much we can do about that but set up notifications of failures if possible.

[2015-06-19 05:58] #2 closed

[2016-03-15 21:48] hacfi opened #48 "Idea: Replace interpolate_env() with gettext-base"
This repository helped me a lot setting up a custom Docker image for jenkins...thanks!

Just to let you know: instead of the custom `interpolate_env()` function you could install the debian package `gettext-base` and run:
`envsubst < /var/jenkins_home/config.xml > /var/jenkins_home/config.xml`
(not 100% sure that you can write to the same file - if not just name one `config.xml.template`)

The onl

[2016-03-16 07:38] iocanel commented on #48
@hacfi: Thanks for the feedback and the suggestion. Did you have any kind of issues with the interpolate_env() and searched for alternatives, or you just preferred something that is more thoroughly tested?

[2016-03-16 09:02] hacfi commented on #48
@iocanel It was just a hint "hey, there is a tool for it" - I didn’t have any issues with it. Two hours after I created this issue I ran into an issue with `envsubst` though: when having `$` in the files it always replaces them so things like `<authorizationStrategy class="hudson.security.AuthorizationStrategy$Unsecured"/>` (https://github.com/fabric8io/jenkins-docker/blob/master/config/config.xml

[2016-03-16 09:02] #48 closed

[2016-04-11 08:36] jstrachan opened #55 "should we disable the Kubernetes Plugin now?"
see this issue:
https://github.com/fabric8io/fabric8/issues/5919

caused by mounting this:
https://github.com/fabric8io/jenkins-docker/blob/master/config/config.xml#L27

[2016-04-11 08:59] iocanel commented on #55
We can't disable the plugin cause it is what creates the slaves. The alternative is to go back to swarm.

Even if we go to down the road of not using slaves at all and just use build pods where it makes sense, we will still need to mount the workspace.

[2016-04-20 15:15] saknopper opened #60 "Jenkins POD won't start, error in PostStart handler"
I installed a fresh instance of OpenShift and Fabric8 on a CentOS server today. So far so good, but when activating the CI/CD pipeline all components (gogs, nexus, forge etc.) start normally except for Jenkins.

In the event log I'm getting the following error:
[code]

I guess this has something to do with postStart.sh not executing as it should, but I'm not sure how I should debug this. I'm willi

[2016-04-20 15:18] jstrachan commented on #60
I wonder what the output of:
[code]
is? I wonder if the secrets are created?
[code]

[2016-04-20 15:21] rawlingsj commented on #60
yeah that looks odd - not sure why that should fail on your setup yet as it's been working for quite sometime. I wonder if you set some of the template parameters when running the CD pipeline template that causes an error in the script?

Either
"The Git URL for the jenkins global workflow repository"
or
"Optional repository that contains a collection of build config.xml"

will map to these env var

[2016-04-20 15:29] saknopper commented on #60
Output for `oc describe pod jenkins` (I assume that's what you mean)
[describe_jenkins.txt](https://github.com/fabric8io/jenkins-docker/files/228233/describe_jenkins.txt)

Output for `oc get secrets`
[get_secrets.txt](https://github.com/fabric8io/jenkins-docker/files/228234/get_secrets.txt)

[2016-04-20 15:34] saknopper commented on #60
I've left the "The Git URL for the jenkins global workflow repository" as "https://github.com/fabric8io/jenkins-workflow-library.git".

The "JENKINS JOBS GIT REPOSITORY" is left empty.

[2016-04-25 13:57] saknopper commented on #60
I've been trying to find out where the script fails and I seem to have found it. The patch below solves the issue, it makes the pod start again. The root cause is probably another story... :)

[code]

[2016-04-26 14:24] saknopper commented on #60
Again a little progress...

I've made the postStart.sh script simply execute ```exit 0``` and I've created postStart_debugging.sh which gives a bit more output.

I built a new image with the proper tag (containing postStart_debuggin.sh) and let fabric8 take care of starting it. Then I executed ```docker exec -it [id_of_container] /bin/bash``` and ran postStart_debugging.sh

It seems that there are

[2016-05-03 09:38] saknopper commented on #60
I did a fresh install using the default docker storage engine on CentOS 7 which seems to be devicemapper (was using overlayfs before). Now I don't encounter this issue anymore.

Not sure if it's because of the storage engine or simply because I'm using more recent components.

[2016-05-03 09:38] #60 closed

[2016-05-03 09:40] rawlingsj commented on #60
Ok great - thanks for letting us know @saknopper

[2016-05-16 18:20] rawlingsj opened #64 "latest jenkins base image and upgrades break java app piplines"
[code]

[2016-08-05 12:09] astefanutti opened #76 "Upgrade to Maven 3.3.9"
Maven 3.3.1 installation is broken as http://apache.mirror.anlx.net/maven/maven-3/3.3.1/binaries/apache-maven-3.3.1-bin.tar.gz returns 404.

[2016-10-30 10:58] rhuss opened #83 "Question about logging.properties"
Where does this logging.properties come from ?

https://github.com/fabric8io/jenkins-docker/blob/master/Dockerfile#L24

Can't see it here and not in the base image ...

[2016-11-03 10:27] blindpirate opened #88 "fabric8/jenkins-docker will change JAVA_HOME and hide jdk?"
I was using `fabric8/jenkins-docker:2.2.288` and found `tools.jar` missing in jenkins's job running. So I checked `fabric8/jenkins-docker` image and its base image as follows:

![image](https://cloud.githubusercontent.com/assets/12689835/19962383/4b146744-a1f2-11e6-982a-286e3227cce5.png)

It seems that in `jenkins:2.19.1-alpine` jdk is installed properly but in `fabric8/jenkins-docker:2.2.288` jdk

[2016-11-03 10:47] rawlingsj commented on #88
We're the QA'ing the release at the moment that includes the new Jenkins2 alpine base image (and the new lovely blue ocean UI).  Hopefully it will be released shortly.  Until then if you want to try the version that will be released you can find the yaml http://central.maven.org/maven2/io/fabric8/devops/apps/jenkins/2.2.294/

Using the correct openshift / kubernetes yaml for your target platform y

[2016-11-03 12:25] blindpirate commented on #88
@rawlingsj Oh, thank you for your information, but I have modified some configurations to make `fabric8/jenkins-docker:2.2.288` fit in our usage. Could you please tell me why this occurs and how can I make of jdk on `fabric8/jenkins-docker:2.2.288`?

[2016-11-03 12:41] rawlingsj commented on #88
The `fabric8/jenkins-docker:2.2.288` is using a different base image which by the looks of things doesn't include the jdk.

I'd try and avoid too much customisation as that makes its very hard to upgrade when we do releases.  However, currently jenkins config is not persisted by a kubernetes volume as we hit problems with overwriting xml files that the docker image contains.

We need to find a way

[2016-11-03 13:07] blindpirate commented on #88
Thanks a lot!

Well, actually what I need is npm. Considering the wide usage of nodejs, I suggest to install nodejs into jenkins. Can I create a PR to do this?

[2016-11-03 13:23] rawlingsj commented on #88
We would want to avoid installing any build tools into jenkins in favour of using one of these build pods describe above instead.  You could create your own npm build image as we've done with the maven and use it in the same way.  Then you'd just call `npm install` for example.

However a simpler approach that we use ourselves and in our node quickstarts is to use a docker onbuild image.

I.e. you

[2016-11-03 13:51] blindpirate commented on #88
Okay, I will do that!

[2016-11-03 13:51] #88 closed

[2016-11-03 14:30] blindpirate commented on #88
@rawlingsj BTW, I have read the scripts, what puzzle me most was - when and how was variable `kubernetes`  injected into the scripts? And which type is it? Tell me please.

[2016-11-03 19:29] triplem opened #89 "Use install-plugins.sh"
plugins.sh is now deprecated, and install-plugins.sh should be used instead. This enables the plugin list without versions (which defaults then to latest).

Could be a way to get rid of the "Version Bump" process for plugins.

[2016-11-04 14:35] rawlingsj commented on #89
ah nice!! thanks @triplem!  will add that in after we get this release out

[2016-11-07 16:11] triplem commented on #83
This is not Part of the Dockerfile anymore. Probably an earlier release?

[2017-02-06 10:28] magick93 opened #110 "Permissions Problems with Jenkins"
## Problem
When running a Jenkins job, job fails with:
[code]

## Describe Pod
[code]

## Describe Jenkins SCC
[code]

## Jenkinsfile
[code]

## Attempted fixes

- `oadm policy add-scc-to-user anyuid system:serviceaccount:default:jenkins` //didnt work
- `oadm policy add-scc-to-user privileged system:serviceaccount:default:jenkins`  //didnt work
- `oadm policy add-scc-to-group jenkins root` //didn

[2017-02-06 10:56] rawlingsj commented on #110
I wonder if this is related to using the old style kubernetes-pipeline-plugin approach vs the new kubernetes-plugin style.  I.e. you could try the new approach, assuming that `jhipster/jhipster` is your builder image, something like..

[code]

[2017-02-06 11:00] magick93 commented on #110
I get the same error with the above jenkinsfile.

[2017-02-06 11:08] rawlingsj commented on #110
Can you try one of the fabric8 create new projects apps please?  I.e. in the fabric8 console, create a new project, select say the `Microservices` project and select a the Canary Release and stage pipeline to see if that goes through successfully.

[2017-02-06 11:12] magick93 commented on #110
We are unable to login to conole due to https://github.com/fabric8io/fabric8-console/issues/257

[2017-02-06 14:08] iocanel commented on #110
I am wondering if this is related to the way arbitrary user ids are handled in openshift.

[2017-02-07 00:23] magick93 commented on #110
@rawlingsj - now that we can access the f8 console, we created a Spring Boot Web MVC QuickStart example app. This did build fine, the first time. Subsequent builds fail with:

[code]

Nonetheless, this is, hopefully helpful.

I should add, this test app was created in the same OpenShift project, and used the same Jenkins as our app that is having problems.

[2017-02-07 10:13] magick93 commented on #110
@rawlingsj - when I tried the Jenkinsfile in the Spring Boot Web MVC QuickStart example app it also fails with:

[code]

[2017-02-07 11:56] magick93 commented on #110
@iocanel - can you help to clarify - we have two jenkinsfiles in this issue, neither works. Which is the new and which is the legacy? Or are the just different syntaxs for same library? Are there alternatives that do what the jenkinsfiles describe?

[2017-02-07 13:10] iocanel commented on #110
Currently, regardless of how you express things under the hood everything goes through the [kubernetes-plugin](https://github.com/jenkinsci/kubernetes-plugin).

The syntax that comes with the plugin is the following:

     podTemplate(...) {
     }

On top of that the [Fabric8 Pipeline Library](https://github.com/fabric8io/fabric8-pipeline-library) adds some sugar, to make it easier to compose `po

[2017-02-07 13:42] magick93 commented on #110
Thanks

not sure what but my guess is that its due to Openshift's arbitrary user ids

How can we investigate this hypothesis further?

[2017-02-07 14:07] magick93 commented on #110
Thanks

How can we investigate this hypothesis further?

[2017-02-07 14:14] iocanel commented on #110
My hypothesis is wrong. It's not due to `arbitrary user ids`.

[2017-02-07 14:25] magick93 commented on #110
Is there anything we can do to debug the issue?

[2017-02-07 15:08] magick93 commented on #110
This maybe related - https://issues.jenkins-ci.org/browse/JENKINS-37069

[2017-02-07 15:16] rawlingsj commented on #110
Ah interesting - that had jogged my memory and we have a doc on the SELinux workaround suggested in that link.

https://github.com/jenkinsci/kubernetes-pipeline-plugin/blob/master/kubernetes-steps/readme.md#technical-notes

[2017-02-07 16:44] iocanel commented on #110
@magick93: can you try removing

     , workingDir: '/home/jenkins')

and tell me if it changes anything?

[2017-02-07 23:40] magick93 commented on #110
Unfortunately no change - same error.

[2017-02-08 11:15] magick93 commented on #110
@rawlingsj - the link you gave has a reference to another page:

But the **here** is a 404. Do you know where this should point to?

[2017-02-08 12:07] magick93 commented on #110
On , it says

In the Jenkins SCC we have:

[code]

I did not see any setting specifically mentioning 'hostPath' in the SCC output.

[2017-02-08 18:11] magick93 commented on #110
This looks related - https://issues.jenkins-ci.org/browse/JENKINS-37069

[2017-02-08 18:53] iocanel commented on #110
The docker pipeline plugin and the kubernetes plugin use the same principal: `share workspace via volumes, so that you can exec shell commands in container`.

What is quite different in your case, is that sharing is done via pod volumes, so there shouldn't be any fancy permission issue. The `fabric8/jenkins-docker` works nicely in Openshift _(no issues with arbitrary user ids)_.

In some tests I r

[2017-02-08 19:02] magick93 commented on #110
My jenkinsfile doesnt specify a workingDir and I dont have jenkins job setting for a workingDir.

How do you remove this directive?

[2017-02-08 19:04] iocanel commented on #110
One of the variations you sent me did specify a workingDir (I am referring to the updated one).

[2017-02-09 09:52] magick93 commented on #110
Can anyone suggest any workarounds? We have been trying to deploy our apps for a long time and would so appreciate finding anything that works.

[2017-02-09 10:00] rawlingsj commented on #110
You shouldn't need it AFAIK but have you tried running the Jenkins master as a privileged pod?  I think I suggested that along the way but I can't see it on this thread so perhaps it's not been attempted.

So `oc edit dc jenkins` and add the privileged [security context](https://kubernetes.io/docs/user-guide/security-context/) like like this example, note the last two lines..

[code]

[2017-02-09 10:14] magick93 commented on #110
I have tried that, but ran into these issues:
https://github.com/openshift/origin-web-console/issues/1221
https://github.com/openshift/origin/issues/12819

[2017-02-09 10:22] rawlingsj commented on #110
It looks to me from those two issue that you're adding the security context to the wrong part of the YAML.  Have you tried adding it to the container as in my example above?  If it still fails can you copy the DeploymentConfig here so I can see where you're adding the privileged privileged?

[2017-02-09 11:01] magick93 commented on #110
Ah yes, your'e right. I was adding it to the wrong section.

I tried again, this time adding it to the container section. It saved correctly. But, upon running the jenkins job again, the same error occurs.

[2017-02-09 17:26] magick93 commented on #110
Is there anything I can do to provide more helpful information, eg, is there some logging or bash code that I can add to help understand this issue?

[2017-02-09 17:53] iocanel commented on #110
@magick93: I am starting to believe that permission issues are because of your image.

Can you please crate a simple pipeline project in jenkins and use the following script: https://gist.github.com/iocanel/500b5dfc4ab2b65306f52f765fff74d3 and tell me if this works (runs without those permission errors).

If it works, can you then replace it with your actual image so that we can crosscheck?

Here,

[2017-02-09 19:09] magick93 commented on #110
[code]

[2017-02-09 19:34] iocanel commented on #110
So typo aside (whomi should be whoami) you don't have the permissions issue, right?

Can u fix the typo and try again?

[2017-02-09 19:44] magick93 commented on #110
Yes, correct, no more permission issues:

[code]

[2017-02-09 20:25] iocanel commented on #110
So, the problem is with the `jhipster/jhipster` image.

Not sure exactly why it cases a problem _(will have to investigate further)_ , but I think its safe to assume that its due to the image.

I would just use the maven image. After all the jhipster image is only used for generating that initial project and is not required for the build (from a quick glance at the docs).

If for any reason, you b

[2017-02-09 20:30] magick93 commented on #110
Ok, but how do we package our .war file is deployed in the jhipster image?

And I'm not sure, but I believe jhipster image is needed for building as it uses both maven and node.

I do know it used to work, that we used to be able to do this.

[2017-02-09 20:36] magick93 commented on #110
We also do have a custom jhipster image. Currently we are blocked from using this due to https://github.com/openshift/origin/issues/12863

However, is it possible to build from a dockerfile, push to openshift registry, and then deploy using this image, from jenkins groovy?

[2017-02-09 21:06] magick93 commented on #110
This is what used to work, approx a year ago.

# Dockerfile
[code]

# Jenkinsfile

[code]

[2017-02-09 21:24] rawlingsj commented on #110
Are you able to push a test project to GitHub that contains an example of the type of project you're trying to build and deploy?  If we have a test project and are able to recreate your issue I'm confident we can find a solution.

[2017-02-09 21:34] magick93 commented on #110
Thanks James - I've pushed to https://github.com/magick93/shiftwork

[2017-02-10 15:18] magick93 commented on #110
I found that there is a https://github.com/jhipster/jhipster-ci-stack but even with this I still get the same errors  as with previous attempts.

[2017-02-10 18:58] rawlingsj commented on #110
@magick93 thanks for the project link, I'll try and take a look tonight.  I did manage to recreate the issue with that jhipster image.  I'll try and come up with something soon.

[2017-02-10 21:14] magick93 commented on #110
@rawlingsj - You cannot understand how much I appreciate your help!

[2017-02-10 22:04] rawlingsj commented on #110
That's ok I understand what it's like.

FWIW I've got it running on minikube once I realised it was nodejs5 and deployed PostgreSQL too, I've also upgraded the app to use the new fabric8 maven plugin. I recreated your issue btw,  next I'll add a custom jhipster-builder image to use in your Jenkinsfile and you should be good to go. I've had to stop working at the moment but will try and push what I

[2017-02-11 09:51] rawlingsj commented on #110
Ok just submitted a PR - I've not been able to test on openshift yet I'm afraid but I'm out of time this weekend.  It all seems to be working on minikube so hopefully it will be fine for you.  Note that the Jenkinsfile is pointing to my library at the moment where I've added a jhipster node and builder image.
I've also added a few extras which means you get a few more kubernetes benefits:

- upgra

[2017-02-11 09:52] rawlingsj commented on #110
BTW I forgot to say rather than importing the project in the fabric8 UI, for now  I just created a new Jenkins pipeline job and pointed the pipeline (using the SCM option) to the github project.  The rest should just work.

[2017-02-11 11:39] magick93 commented on #110
Thank you so much!

I'm testing this, and certainly seem to be getting further, however the build still fails with the below. Maybe this is an OpenShift error - Im not sure. Does this error mean the image cannot be pushed to the internal registry?

[code]

[2017-02-11 16:50] magick93 commented on #110
I think the remaining issue is similar to https://bugzilla.redhat.com/show_bug.cgi?id=1324194

[2017-02-11 17:21] magick93 commented on #110
I managed to get pass the previous error by changing

`<docker.from>docker.io/fabric8/java-jboss-openjdk8-jdk:1.0.10</docker.from>`

to

`<docker.from>fabric8/s2i-java</docker.from>`

Now, however, I'm once again getting `Cannot connect to the Docker daemon. Is the docker daemon running on this host?`

[code]

[2017-02-11 18:40] magick93 commented on #110
I'm a little confused.

I have added:

[code]
Which displays `s2i mode: false`

But I also see:
`Starting S2I Java Build .....`
`S2I binary build from fabric8-maven-plugin detected`

[2017-02-11 20:07] magick93 commented on #110
@rawlingsj - I have been trying to apply some of your suggestions from your replies to my thread on https://groups.google.com/forum/#!msg/fabric8/IxpDpNLKBKo/g3c-t7m0GgAJ as again we get this error. However I cannot seem to get past this.

I have tried modifying the Jenkinfile - and probably made a complete ballsup of it - https://github.com/rawlingsj/shiftwork/commit/2131d66d354ba98768b924b8badd0

[2017-02-12 09:58] magick93 commented on #110
This is strange. In https://github.com/rawlingsj/shiftwork/commit/e24021e643f25e0b47db11d8ac114a050c29c518 I added `   echo "DOCKER_CONFIG is :${env.DOCKER_CONFIG}"` but it outputs `DOCKER_CONFIG is :null`.

[2017-02-12 10:42] magick93 commented on #110
Furthermore, I added `echo "DOCKER_HOST is :${env.DOCKER_HOST}"` with the hypothesis that it will output the values from the following:
![selection_669](https://cloud.githubusercontent.com/assets/2173213/22861408/55956400-f118-11e6-83d1-cc3bb551d63d.png)

[2017-02-12 11:44] magick93 commented on #110
**More testing**
So my previous hypothesis was that the `Cannot connect to the Docker daemon. Is the docker daemon running on this host?`
 error was caused due to the jenkins slave not having access to the environment variables.

So I wrapped the jhipsterNode function(?) in - see https://github.com/rawlingsj/shiftwork/blob/8ee503f87d7471655c438d7c3506ab2697708f3d/Jenkinsfile:

[code]

I can see th

[2017-02-12 12:04] magick93 commented on #110
Tried `withEnv(['DOCKER_CONFIG=/home/jenkins/.docker/', 'DOCKER_HOST=/var/run/docker.sock'])`

### Result
Same error - `Cannot connect to the Docker daemon. Is the docker daemon running on this host?`

[2017-02-12 14:30] magick93 commented on #110
Tried:
`oadm policy add-scc-to-group jenkins jenkin`
`oadm policy add-scc-to-group jenkins root`

### Result

Same error

[2017-02-12 15:03] magick93 commented on #110
### Attempt

Try comment out '`sh docker tag...`' and replace with `sh "mvn fabric8:push -Ddocker.push.registry=${env.FABRIC8_DOCKER_REGISTRY_SERVICE_HOST}:${env.FABRIC8_DOCKER_REGISTRY_SERVICE_PORT}"`.

### Result
Slightly different error:
`[ERROR] Failed to execute goal io.fabric8:fabric8-maven-plugin:3.2.20:push (default-cli) on project shiftwork: Execution default-cli of goal io.fabric8:fabric

[2017-02-12 19:10] magick93 commented on #110
### Attempt
Set DOCKER_HOST environment variable with IP address and port.

### Result
Same error - `Cannot connect to the Docker daemon. Is the docker daemon running on this host?`

[2017-02-13 09:34] rawlingsj commented on #110
@magick93 I'll take a quick look at it this morning, it works nicely on minikube so hopefully it's just a case of me testing in on openshift to see what's missing, I didn't have an openshift available at the weekend but will sort that out today.

FWIW it shouldn't need to perform the docker tag, on openshift we want to always avoid running docker commands, instead defer to openshift to perform doc

[2017-02-13 10:33] msirovy commented on #110
export DOCKER_HOST in jenkins pod and test docker api by curl
==================================================

diff version of dc/jenkins because last 6 revisions didn't deployed
--------------------------------------------------------------------------------------
[code]

now you can see what is different betwean dc revisions and fix it in new dc via web interface or by oc edit dc/jenkins and

[2017-02-13 10:36] rawlingsj commented on #110
Ok but to reiterate what I was saying before - when running fabric8 on openshift the jenkins image should not have access to the docker socket.  We defer to openshift to perform docker actions like build, push, tag.

[2017-02-13 10:39] msirovy commented on #110
Maybe by changing env JAVA_OPTS=-Ddocker.host=unix:/var/run/docker.sock to tcp should fix your issue?

[2017-02-13 10:40] magick93 commented on #110
@rawlingsj - Yes that is my understanding too, however I'm trying to get a better understanding by following your post on https://groups.google.com/d/msg/fabric8/IxpDpNLKBKo/HbehNh3hGgAJ.  Using the conditional branching within the Jenkinfile it seemed we should be using 'docker tag'.

[2017-02-13 10:42] rawlingsj commented on #110
Yes and that is incorrect - it should not be performing the docker tag.  I still need to take a look on an openshift cluster to see why this is happening.

[2017-02-13 11:23] rawlingsj commented on #110
I've found the issue that was incorrectly causing the docker tag to run on openshift but I've found another problem when the app is deployed, there's no openshift triggers so it's never scheduled on openshift.  I'm just looking at that now.

[2017-02-13 11:24] magick93 commented on #110
@rawlingsj - Im now getting the same error you described in https://github.com/fabric8io/fabric8/issues/5969

Could this be caused by the change I made in https://github.com/fabric8io/jenkins-docker/issues/110#issuecomment-279222219?

[2017-02-13 11:26] rawlingsj commented on #110
I wouldn't worry about that let me address this current problem I have with openshift deployment config triggers and I'll push for you to try.

[2017-02-13 11:31] magick93 commented on #110
:) Well, I would like to not worry about it. But the build job is just hanging now.

The latest output is:

[code]

[2017-02-13 14:05] rawlingsj commented on #110
@magick93 on your previous setup were you running postgres on openshift too or were you configuring the shiftwork application to point to an external postgres instance?

I've pushed a branch that provided you are logged into your remote openshift cluster using the `oc` client then you can clone my `s2i` branch https://github.com/rawlingsj/shiftwork/tree/s2i and run:

[code]
This will use the opens

[2017-02-13 14:25] magick93 commented on #110
Thanks @rawlingsj .

Previously we did run postgres on openshift. However we have decided to host pg external to OpenShift now.

Ok. Can you clarify this? Jenkins and CI is of great value to us, and is the primary reason for adopting F8.

[2017-02-13 15:17] magick93 opened #114 "Forbidden!Configured service account doesn't have access. Service account may have been revoked.."
When trying to run a Jenkins job we are now getting:

[code]

Its very likely that this is a result of a change we have made. But we have documented most, if not all changes, and reviewed the Jenkins scc, and cannot see anything obvious.

## Jenkins SCC

[code]

[2017-02-13 15:48] magick93 commented on #114
### Attempt

`oadm policy add-role-to-user view system:serviceaccount:default:jenkins`

### Result

Same error

[2017-02-13 15:52] iocanel commented on #114
It seems that the error occurs during jenkins attempt to create a slave pod.

what's the output of `oc oadm policy who-can create pod` ?

On Mon, Feb 13, 2017 at 5:48 PM, magick93 <notifications@github.com> wrote:

--
*Ioannis Canellos*

*Blog: http://iocanel.blogspot.com <http://iocanel.blogspot.com/>*
*Twitter: iocanel*

[2017-02-13 15:53] rawlingsj commented on #114
It's also worth checking if it's this issue https://issues.jenkins-ci.org/browse/JENKINS-41388

TD;DR check the jenkins configuration page and make sure the kubernetes plugin namespace field has the value that matches the namespace jenkins is running in.

[2017-02-13 15:54] magick93 commented on #114
[code]

[2017-02-13 15:58] magick93 commented on #114
![selection_670](https://cloud.githubusercontent.com/assets/2173213/22890727/8881e7bc-f20d-11e6-8262-0cabeeffd395.png)
Unless I am mistaken, it is correct.
Jenkins is the default namespace

[2017-02-13 16:00] rawlingsj commented on #114
Ok well that rules my theory out then - back to @iocanel line of thought

[2017-02-13 16:09] rawlingsj commented on #110
Sure, my suggestion of using `mvn fabric8:deploy` initially was purely around getting your application deployed quickly as I know you're under pressure to do so.  I've updated the Jenkinsfile  so that the pipeline works in Jenkins.

Using the s2i branch in a Jenkins pipeline job on minishift is working.  The only reason the pod doesnt start is because it's not configured to point at a postgres db.

[2017-02-13 16:12] magick93 commented on #114
### More info

The error is:

[code]

[code]
The line `system:serviceaccount:jenkins:default` look incorrect. Agree?

How do I remove this?

[2017-02-13 16:16] magick93 commented on #110
Yes, indeed we are, and thanks for understanding our situation.

Thank you greatly for your help Jame!

[2017-02-13 16:20] iocanel commented on #114
It's incorrect, but it doesn't seem to cause any issues.

On Mon, Feb 13, 2017 at 6:12 PM, magick93 <notifications@github.com> wrote:

--
*Ioannis Canellos*

*Blog: http://iocanel.blogspot.com <http://iocanel.blogspot.com/>*
*Twitter: iocanel*

[2017-02-13 16:33] rawlingsj commented on #114
You could try and bounce the jenkins master pod and see if a new secret is mounted for the service account?

[2017-02-13 18:03] magick93 commented on #114
Yes, tried that. No joy.

[2017-02-13 19:04] magick93 commented on #110
Hi @rawlingsj - sorry to have to keep coming back for help.

We tried both on the OpenShift node and locally, running `mvn fabric8:deploy`, and got:
[code]

[2017-02-13 19:18] magick93 commented on #114
Just tried restarting the node, and a minor change, now the error is:

[code]

[2017-02-13 19:42] magick93 commented on #110
Looks related to https://bugzilla.redhat.com/show_bug.cgi?id=1311452

[2017-02-14 18:13] #110 closed

[2017-02-14 19:00] rawlingsj commented on #110
Does this mean you application is running?  Please say yes!

[2017-02-14 19:06] magick93 commented on #110
Oh it is so running!   :+1:

Thank you - and the rest of the Fabric8 team - so much!

[2017-02-14 19:39] rawlingsj commented on #110
YAY!!! I'm really glad to hear that @magick93

/CC @jstrachan @iocanel @rhuss who helped at various points from the fabric8 team.

[2017-02-14 20:38] iocanel commented on #110
Yay !!!

[2017-03-07 09:23] chbe8475 opened #129 "Scripts not permitted to use new io.fabric8.openshift.client.DefaultOpenShiftClient"
Hi,
Since last week our jenkins jobs fails. We are not running the latest version of anything. The version of jenkins is 2.19.1.
The error is:
org.jenkinsci.plugins.scriptsecurity.sandbox.RejectedAccessException: Scripts not permitted to use new io.fabric8.openshift.client.DefaultOpenShiftClient

Is it possible for me to somewhere specify to use an older version of jenkins-docker?
Is it possible f

[2017-03-07 09:25] rawlingsj commented on #129
Can you gist your Jenkinsfile please?  I wonder if you have an old one that doesn't include a version in the `@Library` annotation.  The tag version should match your jenkins-docker image tag version.

i.e.
[code]

[2017-03-07 09:35] chbe8475 commented on #129
Jenkinsfile:
`#!/usr/bin/groovy
@Library('github.com/fabric8io/fabric8-pipeline-library@master')

def failIfNoTests = ""
try {
  failIfNoTests = ITEST_FAIL_IF_NO_TEST
} catch (Throwable e) {
  failIfNoTests = "false"
}

def localItestPattern = ""
try {
  localItestPattern = ITEST_PATTERN
} catch (Throwable e) {
  localItestPattern = "*KT"
}

def versionPrefix = ""
try {
  versionPrefix = VERSION_P

[2017-03-07 09:39] chbe8475 commented on #129
Gist:
https://gist.github.com/chbe8475/0d86a1733053d0209dea1abd84064b44

[2017-03-07 10:03] rawlingsj commented on #129
What version of jenkins do you have running?  It sounds like its an old one, I think there was an issue with the jenkins plugin not working with tags that's why the Jenkinsfiles weren't versioned for a while.  If we can get the jenkins-docker image version then I can fork the library from an old commit that ties up to that version and you can try that instead.
Openshift
[code]
Kubernetes
[code]

[2017-03-07 10:08] chbe8475 commented on #129
Yes, it is old :-)

kubectl get deployment jenkins -o yaml | grep 'image:'
        image: fabric8/jenkins-docker:2.2.297

[2017-03-07 10:50] rawlingsj commented on #129
OK that's good.  I've just created a new repo and reset to a commit around the same time as the 2.2.297 release was cut.  Fingers crossed this works.  Can you please try and change `@Library` in your Jenkinsfile to:

[code]

[2017-03-07 11:41] chbe8475 commented on #129
That on works. Great. but how do I solve this in a permanent fashion? Is it possible to change to a later version of fabric8/jenkins-docker within this fabric8 installation that I am using?

[2017-03-10 08:27] 3r1co opened #130 "groovy.lang.MissingMethodException for Kubernetes Client"
Hi,

I tried to use the latest version of the Fabric8 Jenkins Image (fabric8/jenkins-docker:2.2.328) , but when I try to run something a Pod, it throws an exception.

Here the code snippet:
`kubernetes.pod('buildpod').withImage('alpine').inside {
        sh 'echo "Hello from Alpine"'
}`

And the exception:
`
hudson.remoting.ProxyException: groovy.lang.MissingMethodException: No signature of method

[2017-03-10 13:06] rawlingsj commented on #130
@3r1co what version of the shared pipeline library are you using?  i.e. what version is at the end of the `@Library` annotation at the top of your Jenkinsfile?

FWIW even though the jenkins yaml that is in maven central it's not part of the latest fabric8-platform release.

The latest release version is `v2.2.311` https://github.com/fabric8io/fabric8-jenkinsfile-library/blob/v2.2.311/maven/CanaryR

[2017-03-13 14:24] 3r1co commented on #130
Hi @rawlingsj ,
I tried now with the version 2.2.311, but now I have the following issue:

`
[test] Running shell script
/var/jenkins_home/workspace/test # [6nsh -c echo $$ > '/var/jenkins_home/workspace/

test@tmp/durable-ad77d560/pid'; jsc=durable-68f8352ee94861d5684fcd48c4f301cc; JE
NKINS_SERVER_COOKIE=$jsc '/var/jenkins_home/workspace/test@tmp/durable-ad77d560/
script.sh' > '/var/jenkins_home

[2017-03-14 09:29] 3r1co commented on #130
Ok, it works when I use a PV to share the workspace. Sorry for the confusion.

[2017-03-14 09:29] #130 closed

[2017-05-16 19:36] sergioortegagomez commented on #89
if you change Dockerfile line 4:

`RUN /usr/local/bin/install-plugins.sh $(cat /usr/share/jenkins/plugins.txt | tr '\n' ' ')`

itś work.

[2017-06-05 08:17] sbose78 opened #140 "[feature] : support for declarative pipelines"
Looks like support for declarative pipelines is not there yet.

[code]

[2017-06-05 08:18] rawlingsj commented on #140
agreed, we're in the process of updating the jenkins image and plugins so hopefully we will have this soon.

[2017-06-13 09:33] haikuo81 opened #141 "Questions: when and how to initialize environment variables"
when I docker run jenkins-docker images, and I didn't find env variable FABRIC8_DOCKER_REGISTRY_SERVICE_HOST and FABRIC8_DOCKER_REGISTRY_SERVICE_PORT,

but when using fabric8 devops yaml file to create jenkins pod, then go to pod, input env command, then find FABRIC8_DOCKER_REGISTRY_SERVICE_HOST, FABRIC8_DOCKER_REGISTRY_SERVICE_PORT and lots of other variables, I searched yaml files, there isn't a

[2017-06-14 10:15] #141 closed, assigned to nobody

[2017-06-16 17:13] einyx commented on #114
any luck with this?

[2017-06-23 03:41] moortimis commented on #114
Hey, we're seeing the same issue.
` oadm policy who-can create pod` returns the expected results, but still getting the following errors:

[code]

[2017-06-23 03:46] moortimis commented on #114
Actually found the root cause of our issue:
- https://issues.jenkins-ci.org/browse/JENKINS-44189

**Solution**:
- `oc delete limits <limit-name>`
- `oc delete quota <quota-name>`

[2017-07-14 13:51] #76 closed

[2017-07-22 19:29] Sutty100 opened #142 "Unable to create the CD pipeline on none default team"
When I create a new team and try and setup CI/CD I am unable to create a new application because the CI/CD platform is never marked as ready this is because the fabric8-forge pod will not start and errors:

Error creating: pods "fabric8-forge-2922195146-" is forbidden: service account testing/fabric8 was not found, retry after the service account is created

The template for CD does not however cr

[2017-07-22 19:32] #142 closed, assigned to nobody

[2017-08-07 14:42] #129 closed

[2017-11-15 08:42] marvinosswald commented on #140
any progress here ?

[2017-12-04 15:20] jaseemabid opened #143 "This repo should be considered obsolete and deleted."

[2018-01-16 13:49] barbarosalp commented on #130
@3r1co can you please give some brief info about how did you solve it? Thanks.

[2018-01-17 16:21] 3r1co commented on #130
Hi @barbarosalp , I'm facing this issue mostly when the UID running the image in kubernetes.pod('buildpod').withImage('alpine').inside { sh 'echo "Hello from Alpine"' } is different from the one from running the jenkins slave, e.g. Jenkins slave is running is 0 (root), but the alpine mentioned above is running as 1000 (cloud-user).
Another reason why this can happen of the workspace is not shared

[2018-01-21 19:55] joaoferrao commented on #130
I'm having this issue by simply following all the tutorials at jenkins.io
I tried the simpler and the more complete ones, both with Blue Ocean as well as the the base version with suggested pluggins.

Is there a good suggestion on how to solve this?

I'm running Jenkins on a docker with

`docker run -u root -p 8080:8080 -v $(pwd)/jenkins-data:/var/jenkins_home -v /var/run/docker.sock:/var/run/dock

[2018-06-23 00:53] arianitu commented on #110
Sorry, this might be irrelevant (potentially) and this comment can be removed if it doesn't belong here, but this issue in particular kept popping up when I googled "Kubernetes Plugin slave running into docker.sock permission errors"

What I had to do was this to fix it:

Under Jenkins->Manage Jenkins->Configure System:
Under Kubernetes Pod Template:
Under Raw yaml for the Pod add:
[code]

This wa

[2018-11-21 10:54] GangChenTFS commented on #114
@moortimis , how to find the limit-name and quota-name? could you please share the command thanks.

[2019-08-29 12:30] DashrathMundkar opened #144 "archiveArtifacts not get archeived when pod get failed to deploy on openshift?"

[2019-08-29 12:33] #144 closed, assigned to nobody

[2019-08-29 12:33] Dashrath18 commented on #144
wrong place